<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>News Analyzer</title>
        <link rel="icon" type="image/png" href="./images/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="./images/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/x-icon" href="./images/favicon.ico" /> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
    <body>

        <header>
            <h1 class="logo">
                {NA} News Analyzer
            </h1>
        </header>

        <main>
            <section>
                <form onsubmit="return Client.handleSubmit(event)">
                    <input 
                        id="url" 
                        type="text" 
                        name="url" 
                        value="https://www.bbc.com/news/world-us-canada-52553829" 
                        placeholder="Enter the news url">
                    <input 
                        type="submit" 
                        name="submit" 
                        value="submit" 
                        onclick="return Client.handleSubmit(event)" 
                        onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
