<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>News Analyzer</title>
        <link rel="icon" type="image/png" href="./images/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="./images/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/x-icon" href="./images/favicon.ico" /> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
    <body>

        <header>
            <h1 class="logo"><span class="logo-icon">[NA]</span> News Analyzer</h1>
        </header>

        <main>
            <section>
                <form onsubmit="return Client.handleSubmit(event)">
                    <p class="error"></p>
                    <input
                        id="url"
                        type="text"
                        name="url"
                        autofocus
                        placeholder="Enter the News Url">
                    <input
                        id="submit"
                        type="submit"
                        name="submit"
                        value="Get an Analysis"
                        onclick="return Client.handleSubmit(event)"
                        onsubmit="return Client.handleSubmit(event)">  
                </form>
            </section>

            <section>
                <div class="results-box">
                    <div class="loader">
                        <div class="lds-default">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>  
                    <div class="results-empty">
                        <h2>Here will be the results of the analysis</h2>
                    </div>
                    <div class="results-section">
                        <h2>Analysis result:</h2>
                        <div id="results"></div>
                    </div>
                </div> 
            </section>
        </main>

        <footer>
            <p class="copyright">© News Analyzer | 2020 | Created by Dmitriy Zatulovskiy | Web API used - <a href="https://aylien.com/text-api/" target="_blank">Aylien Text Analysis API</a></p>
        </footer>

    </body>
</html>
