/*
* Basic styles.
*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
    font: 16px $font-family;
    background: url('../images/bg_news.jpg') center center no-repeat;
    background-size: cover;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 0 auto;
}
