/*
* Configuration variable.
*/

/* Colors */
$color-p: rgb(22, 77, 100);
$color-pl: rgb(92, 145, 157);
$color-pd: rgb(0, 36, 53);

$color-s: rgb(158, 158, 158);
$color-sl: rgb(207, 207, 207);
$color-sd: rgb(112, 112, 112);

$color-w: rgb(255, 255, 255);
$color-b: rgb(0, 0, 0);

$color-e: rgb(128, 0, 0,);

$color-bg: rgba(255, 255, 255, 0.6);
$color-bgl: rgba(255, 255, 255, 0.8);
$color-bgd: rgba(255, 255, 255, 0.3);

/* Fonts */
$font-family: 'Roboto', sans-serif;